/* #432818, #ede0d4 */

body {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    color: #432818;
    margin: 0 auto;
    width: 90vw;

}

header {
    background-color: #ede0d4;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.logo {
    margin: 0 70px 0 30px;
    text-align: left;
}

.nav-container {
    height: 100px;
}

.nav-links {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 10px 10px;
    font-size: 1.25rem;
}

.recipes-list {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe {
    margin: 20px 20px;
    width: 250px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #432818;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/* @media only screen and (max-width: 730px){
    .recipes-list {
        flex-wrap: wrap;
    }
} */