body {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    color: #432818;
    margin: 0 auto;
}

header {
    background-color: #ede0d4;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.logo {
    margin: 0 70px 0 30px;
    text-align: left;
}

.nav-container {
    height: 100px;
}

.nav-links {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 10px 10px;
    font-size: 1.25rem;
}

.recipes-list {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe {
    margin: 20px 20px;
    width: 300px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #432818;
}

.recipe-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 10px 10px;
}

footer {
    bottom: 0;
    background-color: #432818;
    color: #ede0d4;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.contact {
    margin-left: 30px;
}

.contact-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-link {
    color: #ede0d4;
    margin: 10px 10px;
    font-size: 1.25rem;
} 

/* about page */

.about-page {
    margin: 30px 20px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 300px;
    margin: 10px 20px;
    border-radius: 20px;
}

/* single recipe page */

.recipe-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.recipe-hero-text {
    margin-left: 10px;
}

main {
    margin: 20px 30px;
}

.recipe-prep {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.dish-name {
    margin: 5px 0;
}

.recipe-infos {
    margin-bottom: 10px;
}

.recipe-info {
    margin-left: 0;
    margin-right: 20px;
}

.ingredients, .equipment, .instructions {
    margin: 10px 20px;
}